@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

$card-height--tablet: 5rem;
$card-height--mobile: 20vw;

@mixin card-height {
    height: $card-height--mobile;
    @include tablet {
        height: $card-height--tablet;
    }
}

.video-card {
    @include zero-spacing;
    @include component-spacing;
    @include card-height;
    flex-direction: row;
    justify-content: space-between;
    @include tablet {
        justify-content: flex-start;
    }

    &__image-div {
        @include zero-spacing;
        @include card-height;
        border-radius: .25rem;
        aspect-ratio: 16 / 8;
        overflow: hidden;
        width: auto;
        @include tablet {
            aspect-ratio: 16 / 8;
            width: auto;
        }
    }

    &__image {
        background-color: $mercury;
        width: 100%;
        border-radius: .25rem;
    }

    &__text-container {
        @include zero-spacing;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        width: 60%;
    }

    &__title {
        margin: 0;
    }

    &__channel {
        @extend p;
    }
}

a {
    width: 100%;
}