@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;

.article {
    background-color: rgb(214, 245, 179);

    &__metadata {
        flex-direction: row;
        @include zero-spacing;
        @include tablet {
            flex-direction: row;
        }

        &--left, &--right {
            @include zero-spacing;
            flex-direction: column;
            
            @include tablet {
                @include component-spacing;
                flex-direction: row;
            }
        }

        &--left {
            justify-content: flex-start;
        }

        &--right {
            justify-content: flex-end;
        }
    }
}

article {
    position: relative;
    @include set-element-margin(0);
    @include flex-mixin--column(100%);
    background-color: white;

}