@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;

.article {
    background-color: rgb(214, 245, 179);

    &__metadata {
        @include zero-spacing;
        @include component-spacing;
        flex-direction: row;
        border: $divider;
        @include tablet {
            flex-direction: row;
        }

        &--left, &--right {
            @include zero-spacing;
            flex-direction: column;
            align-items: flex-start;
            
            @include tablet {
                @include component-spacing;
                flex-direction: row;
            }
        }

        &--left {
            justify-content: flex-start;
        }

        &--right {
            justify-content: flex-end;
        }
    }

    &__author {
        font-weight: 700;
    }

    &__date, &__views, &__likes {
        color: $silver;
    }

}

article {
    position: relative;
    @include set-section-margin();
    @include flex-mixin--column(100%);
    background-color: pink;

}