// @use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
// @use '../../styles/partials/fonts' as *;

.comments {
    
    &__form-container {
        @include flex-mixin--row(100%);
        @include set-section-margin;
        align-items: flex-start;
        gap: 1rem;
        border-bottom: $divider;
        @include tablet {
            gap: 1.125rem;
        }
    }

    &__button {
        background-image: url('../../assets/images/add_comment.svg');
    }

    &__user-avatar {
        position: relative;
        height: 100%;
    }

    &__form {
        @include flex-mixin--column(100%);
        width: 100%;
        gap: $spacing--mobile;

        @include tablet {
            gap: $spacing--tablet;
            flex-direction: row;
        }
    }

    &__input-container {
        @include zero-spacing;
        flex-direction: column;
        align-items: flex-start;
    }

    // &__input-label {
    //     box-sizing: border-box;
    //     color: $silver;
    //     font-weight: 600;
    //     text-transform: uppercase;
    // }

    &__input-field {
        @include tablet {
            height: $button-height;
            padding: 0 1rem;
            line-height: $button-height;
            overflow: hidden;
        }

        &:focus, &:focus-visible, &:focus-within { // doesn't work
            border-color: $brainflix-black;
            outline: none; // get rid of the default black outline that hides the specified border style
        }

        &--error {
            border-color: #D22D2D;
        }

        &::placeholder {
            color: $brainflix-black;
        }
    }

    &__cards-container {
        @include flex-mixin--column(100%);
        margin-bottom: 1.375rem;
        @include tablet {
            margin-bottom: 3.125rem;
        }
    }
}