@use './fonts' as *;
@use './variables' as *;
@use './mixins' as *;

* {
    @include zero-spacing;
}

div {
    @include flex-mixin--row(100%);
    @include set-section-margin();
}

section {
    @include flex-mixin--column(100%);
    align-items: center;
}

#root, body {
    // @include set-section-margin();
    @include zero-spacing;
    @include flex-mixin(100%);
    font-size: 1rem;
    font-family: $font-family;
    position: relative;
    box-sizing: border-box;
    @include desktop {
        max-width: 100%;
    }
}

main {
    // shift the page content down according to header height
    @include flex-mixin--column(100%);
    position: relative;
    top: 10.4375rem;
    
    @include tablet {
        top: 5.5rem;
    }
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5 {
    @include heading-margin();
    font-weight: 700;

}

p {
    @include set-font(.8125rem, 1.125rem, .875rem, 1.375rem, 400);
    color: $brainflix-black;
}

textarea, input {
    resize: none;
    font-family: $font-family;
    width: 100%;
    box-sizing: border-box;
    padding: $form-padding--mobile;
    border-radius: 4px;
    @include tablet {
        padding: $form-padding--tablet;
    }
}

button {
    box-sizing: border-box;
    color: white;
    border-radius: .25rem;
    height: $button-height;
    width: 100%;
    border: none;
    @include set-font(.625rem, 1.25rem, .75rem, 1.25rem, 700);
    text-transform: uppercase;
    
    @include tablet {
        width: auto;
        max-width: 9.375rem;
        padding: 0 3.5rem;
    }
}

span {
    @include flex-mixin--row(auto);
    align-items: center;
    gap: 0.5em;
}