@use './fonts' as *;
@use './variables' as *;
@use './mixins' as *;

html {
    // @include zero-spacing;
    font-size: 1rem;
    display: flex;
    background-color: pink;
    font-family: $font-family;
}

header, footer {
    @include flex-mixin--row(100%);
}

header {
    background-color: yellow;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 3;
}

main {
    // shift the page content down according to header height
    margin-top: 5.75rem;
    @include tablet {
        margin-top: 3.25rem;
    }
}

div, section, article {
    @include flex-mixin--row(100%);
    @include set-section-margin();
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2, h3, h4, h5 {
    @include heading-margin();
    font-weight: 700;
}
p {
}

textarea {
    resize: none;
    font-family: $font-family;
    width: 100%;
    box-sizing: border-box;
    padding: $form-padding--mobile;

    @include tablet {
        padding: $form-padding--tablet;
    }
}

button {
    box-sizing: border-box;
    color: white;
    border-radius: .25rem;
    height: 2.5rem;
    width: 100%;
    border: none;
    @include set-font(.625rem, 1.25rem, .75rem, 1.25rem, 700);
    text-transform: uppercase;
    
    @include tablet {
        width: auto;
        max-width: 9.375rem;
        padding: 0 3.5rem;
    }
}

.responsive-container {
    @include flex-mixin(100%);
    margin: 0;
    padding: 0;
}

.avatar-div {
    border-radius: 50%;
    background-color: $mercury;
    width: 2.625rem;
    aspect-ratio: 1;
    overflow: hidden;
    margin-top: 1.375rem;
    @include tablet {
        /* avatar image placeholder size increased relative to what's in the style guide
        to better match mockup */
        width: 3.8rem;
        margin-top: 1.5rem;
    }

    &--posted {
        @extend .avatar-div;
        margin-top: .25rem;

        @include tablet {
            margin-top: .5rem;
        }
    }
}

.header {
    @include flex-mixin--column(100%);
    @include set-section-margin;

    @include tablet {
        @include flex-mixin--row(100%);
    }
    

    &__logo {
        max-height: 1.5625rem;
        max-width: 7.5rem;
    }
    &__search-input {
        position: relative;
        background-image: url('./assets/images/search.svg');
        background-repeat: no-repeat;
        background-position: $form-padding--mobile center;
        padding-left: 2.5rem;
        @include tablet {
            background-position: $form-padding--tablet center;
        }
    }

    &__upload-button {
        background-color: $brainflix-blue;
        background-image: url('./assets/images/upload.svg');
        background-repeat: no-repeat;
        background-position: $form-padding--mobile center;
    }
}