$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$max-content-width: 1208px; // max content width is less that 1280px so there are margins
// $max-content-width: 100%;
$spacing--tablet: 1.5rem;
$spacing--mobile: 1rem;

$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$silver: #AFAFAF;
$brainflix-darkblue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$font-family:'Avenir Next', 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;

$form-padding--mobile: 0.75rem;
$form-padding--tablet: 1rem;

$avatar-width--mobile: 2.25rem;
$avatar-width--desktop: 2.5rem;

$button-height: 2.5rem;