$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$page-margin--tablet: 2rem;
$max-content-width: 1208px; // max content width is less that 1280px so there are margins
$max-content-width: calc(1280px - 2 * $page-margin--tablet);
$spacing--tablet: 1.5rem;
$spacing--mobile: 1rem;
$form-spacing--mobile: 1.125rem;
$form-spacing--tablet: 1.5rem;

$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$silver: #AFAFAF;
$brainflix-darkblue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$divider: .0625rem solid $mercury;

$font-family:'Avenir Next', 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;

$form-padding--mobile: 0.75rem;
$form-padding--tablet: 1rem;

$avatar-width--mobile: 2.25rem;
$avatar-width--tablet: 2.5rem;

$button-height: 2.5rem;

$comments-content-width--mobile: calc(100% - $avatar-width--mobile - $spacing--mobile);
$comments-content-width--tablet: calc(100% - $avatar-width--tablet - $spacing--tablet);