@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.next-videos {
    @include set-section-margin;
    @include component-spacing;
    padding-bottom: 2rem;
    padding-top: 0;
    @include tablet {
        width: 55%;
        margin: 0;
        align-self: flex-start;
        padding: $page-margin--tablet;
    }
    
    @include desktop {
        border-left: $divider;
        padding-left: $spacing--tablet;
        padding-top: 2.25rem;
        padding-bottom: 4rem;
        padding-right: 0;
    }

    &__heading {
        color: $silver;
        margin: 0;
        justify-self: flex-start;
        width: 100%;
        text-transform: uppercase;
        font-weight: 600;
    }
}