@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.next-videos {
    @include set-section-margin;
    @include component-spacing;

    @include tablet {
        width: 45%;
        margin: 0;
        align-self: flex-start;
    }
    
    @include desktop {
        border-left: $divider;
        padding-left: $spacing--tablet;
    }

    &__heading {
        color: $silver;
        justify-self: flex-start;
        width: 100%;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 600;
    }
}