@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

header {
    @include flex-mixin--row(100%);
    position: fixed;
    border-bottom: $divider;
    width: 100%;
    top: 0;
    z-index: 3;
    background-color: white;
    @include tablet {
        padding: 1rem 0;
    }
}

.header {
    @include flex-mixin--column(100%);
    @include set-section-margin;
    @include component-spacing();
    @include tablet {
        flex-direction: row;
    }

    &__logo {
        max-height: 1.5625rem;
        max-width: 7.5rem;
    }
    
    &__nav-container {
        @include responsive-container(100%);
        flex-wrap: wrap;
        align-items: flex-start;
        @include component-spacing();
        @include tablet {
            justify-content: flex-end;
        }
    }
    
    &__search-input {
        width: calc(100% - $avatar-width--mobile - $spacing--mobile);
        position: relative;
        background-image: url('../../assets/images/search.svg');
        background-repeat: no-repeat;
        background-position: $form-padding--mobile center;
        padding-left: 2.5rem;
        // height: $button-height;
        order: 1;
        @include tablet {
            background-position: $form-padding--tablet center;
            max-width: 15rem;
        }
    }

    &__upload-button {
        background-image: url('../../assets/images/upload.svg');
        order: 3;
        @include tablet {
            order: 2;
        }
    }

    &__avatar {
        order: 2;

        @include tablet {
            order: 3;
        }
    }
}