@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

video::-webkit-media-controls {
  color: $brainflix-black;
  opacity: 50%;
  aspect-ratio: 16 / 9;
}

.current-video {
    background-color: black;
    width: 100%;

    &__video {
        width: 100%;
        @include set-element-margin(0);
        box-sizing: border-box;
        @include tablet {
            max-width: $max-content-width;
            max-height: 85vh;
        }
    }

    &__description {
        padding: $spacing--mobile 0;
        @include tablet {
            padding: $spacing--tablet 0;
        }
    }

    &__n-comments {
        font-weight: 600;
    }

}