@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

@mixin desktop-padding-right {
    @include desktop {
        padding-right: $spacing--tablet;
    }
}

.current-video {
    background-color: black;
    width: 100%;

    &__title {
        @include desktop-padding-right();
    }

    &__video {
        width: 100%;
        // @extend video;
        @include set-element-margin(0);
        box-sizing: border-box;
        @include tablet {
            max-width: $max-content-width;
            max-height: 85vh;
        }

        &::-webkit-media-controls-panel {
            background-image: linear-gradient($video-control-background, $video-control-background);
            align-self: flex-end;
            height: 10vh;
            border-radius: .25rem;
        }
        
        &::-webkit-media-controls {
            padding: $spacing--mobile;
        }
    }

    &__article {
        @extend article;
    }

    &__description {
        padding: $spacing--mobile 0;
        @include tablet {
            padding: $spacing--tablet 0;
        }
        @include desktop-padding-right();
    }

    &__n-comments {
        font-weight: 600;
    }
}