@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

video::-webkit-media-controls {
  color: $brainflix-black;
  opacity: 50%;
  aspect-ratio: 16 / 9;
}

.current-video {
    background-color: black;
    width: 100%;

    &__video {
        width: 100%;
        @include set-element-margin(0);
        box-sizing: border-box;
        @include tablet {
            max-width: $max-content-width;
            max-height: 85vh;
        }
    }

    &__metadata {
        @include zero-spacing;
        @include component-spacing;
        flex-direction: row;
        border-bottom: $divider;
        padding: 0.5em 0;
        border-top: $divider;
        @include tablet {
            border-top: none;
            flex-direction: row;
        }

        &--left, &--right {
            @include zero-spacing;
            flex-direction: column;
            align-items: flex-start;
            @include component-spacing;
            
            @include tablet {
                flex-direction: row;
            }
        }

        &--left {
            justify-content: flex-start;
        }

        &--right {
            justify-content: flex-end;
        }
    }

    &__channel, &__n-comments {
        font-weight: 700;
    }

    &__timestamp, &__views, &__likes {
        color: $silver;
    }

    &__description {
        padding: $spacing--mobile 0;
        @include tablet {
            padding: $spacing--tablet 0;
        }
    }

}