@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

$desktop-thumbnail-width: 33%;

.upload {
  @include flex-mixin--column(100%);
  @include set-section-margin();
  align-items: flex-start;

  &__body {
    flex-direction: column;
    margin: 0;
    padding: 0;
    @include tablet {
      padding: 2.25rem 0 $spacing--tablet;
      border-top: $divider;
      border-bottom: $divider;
    }
    @include desktop {
      flex-direction: row;
    }
  }

  &__form {
    @include desktop {
      width: calc(100% - $desktop-thumbnail-width - $spacing--tablet);
    }
  }

  &__thumbnail-container {
    @include zero-spacing;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: $spacing--mobile;
    @include desktop {
      width: $desktop-thumbnail-width;
    }
  }

  &__thumbnail-image {
    width: 100%;
  }

  &__buttons-container {
    @include zero-spacing;
    flex-direction: column;
    gap: $spacing--mobile;
    margin: $spacing--mobile 0;
    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
      gap: $spacing--tablet;
      margin: $spacing--tablet 0;
    }
  }
}