// @use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
// @use '../../styles/partials/fonts' as *;
@use '../Avatar/Avatar.scss' as *;

.comments {
    &__card {
        @include flex-mixin--row(100%);
        border-bottom: $divider;
        gap: $spacing--mobile;
        align-items: flex-start;
        @include tablet {
            gap: $spacing--tablet;
        }
    }

    &__avatar-div {
        margin-top: 1em;
    }

    &__text-container {
        @include flex-mixin--column(calc(100% - $avatar-width--mobile - $spacing--mobile));
        @include zero-spacing();
        @include tablet {
            width: calc(100% - $avatar-width--tablet - $spacing--tablet)
        }
    }

    &__metadata {
        @include flex-mixin--row(100%);
        @include zero-spacing();
        margin: 1em 0;
    }

    &__name {
        font-family: 'Avenir Next';
        font-weight: 600;
        @include zero-spacing;
    }
    
    &__date {
        color: $silver;
        @include zero-spacing;
    }

    &__comment {
        text-align: left;
        justify-self: left;
        width: 100%; // necessary so that short comments are left-aligned;
        &:last-of-type {
            padding: 0;
        }
    }
}
