@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../Avatar/Avatar.scss' as *;

$comments-content-width--mobile: calc(100% - $avatar-width--mobile - $spacing--mobile);
$comments-content-width--tablet: calc(100% - $avatar-width--tablet - $spacing--tablet);

.comments-section {
    flex-direction: column;
}

.comments {
    
    &__form-container {
        @include flex-mixin--row(100%);
        @include set-section-margin;
        align-items: flex-start;
        gap: 1rem;
        padding: $spacing--mobile 0;
        border-bottom: $divider;
        @include tablet {
            gap: 1.125rem;
            padding: $spacing--tablet 0;
        }
    }

    &__button {
        background-image: url('../../assets/images/add_comment.svg');
    }

    &__user-avatar {
        margin-top: 1.0625rem;
    }

    &__form {
        @include flex-mixin--column(100%);
        width: $comments-content-width--mobile;
        gap: $spacing--mobile;

        @include tablet {
            width: $comments-content-width--tablet;
            gap: $spacing--tablet;
            flex-direction: row;
            align-items: flex-end;
        }
    }

    &__input-container {
        @include zero-spacing;
        flex-direction: column;
        align-items: flex-start;
    }

    &__input-field {
        @include tablet {
            height: $button-height;
            padding: 0 1rem;
            line-height: $button-height;
            overflow: hidden;
        }

        &:focus, &:focus-visible, &:focus-within { // doesn't work
            border-color: $brainflix-black;
            outline: none; // get rid of the default black outline that hides the specified border style
        }

        &--error {
            border-color: #D22D2D;
        }

        &::placeholder {
            color: $brainflix-black;
        }
    }

    &__card {
        @include flex-mixin--row(100%);
        border-bottom: $divider;
        padding: $spacing--mobile 0;
        align-items: flex-start;
        @include tablet {
            padding: $spacing--tablet 0;
        }
    }

    &__avatar-div {
        margin-top: .25rem;
        @include tablet {
            margin-top: .375rem;
        }
    }

    &__text-container {
        @include flex-mixin--column($comments-content-width--mobile);
        @include zero-spacing();
        @include tablet {
            width: $comments-content-width--tablet;
        }
    }

    &__metadata {
        @include flex-mixin--row(100%);
        @include zero-spacing();
        margin: .25rem 0 1em;
        @include tablet {
            margin: .375rem 0 1em;
        }
    }

    &__name {
        font-family: 'Avenir Next';
        font-weight: 600;
        @include zero-spacing;
    }
    
    &__date {
        color: $silver;
        @include zero-spacing;
    }

    &__comment {
        text-align: left;
        justify-self: left;
        width: 100%; // necessary so that short comments are left-aligned;
        &:last-of-type {
            padding: 0;
        }
    }
}
