@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.avatar-div {
    border-radius: 50%;
    background-color: $mercury;
    width: $avatar-width--mobile;
    aspect-ratio: 1;
    overflow: hidden;
    @include zero-spacing;
    @include tablet {
        width: $avatar-width--tablet;
    }

    &__img {
        height: 100%;
    }
}