@use './styles/partials/mixins' as *;

.secondary {
    @include zero-spacing;
    flex-direction: column;
    @include desktop {

        flex-direction: row;
        align-items: flex-start;
        @include set-section-margin();
    }
}