@use './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/global' as *;

.secondary {
    @include zero-spacing;
    flex-direction: column;
    @include tablet {
    }
    @include desktop {
        flex-direction: row;
        align-items: flex-start;
        margin: 0 auto;
        max-width: $max-content-width;
    }

    &__section {
        @include zero-spacing();
        @include flex-mixin--column(100%);
        @include desktop {
            padding-right: $spacing--tablet;
        }
    }
}

.loading {
    height: 100vh; // this prevents the appearance of the header shifting when page rendering is pending API call
}